# List

Like a string, a list is a sequence of values. In a string, the values are characters; in a list, they can be any type. The values in list are called elements or sometimes items.
the simplest way to create list is to enclose the elements in square brackets ([ and ])

In [1]:
>>> cheeses = ['Cheddar', 'Edam', 'Gouda']
>>> numbers = [17, 123]
>>> empty = []
>>> print(cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [17, 123] []

In [2]:
>>> print(cheeses[0])

Cheddar

In [3]:
#lists are mutable because you can change the order of items in a list or reassign an item in a list
>>> numbers = [17, 123]
>>> numbers[1] = 5
>>> print(numbers)

[17, 5]

In [4]:
>>> cheeses = ['Cheddar', 'Edam', 'Gouda']
>>> 'Edam' in cheeses

True

In [5]:
>>> 'Brie' in cheeses

False

In [8]:
# Traversing a list:
for cheese in cheeses:
    print(cheese)

Cheddar
Edam
Gouda

In [16]:
# if you want to write or update the elements, you need the indices. 
# A common way to do that is to combine the functions range and len:
numbers=[2,5]

for i in range(len(numbers)):
    numbers[i] = numbers[i] +2
    print(numbers)

[4, 5]
[4, 7]

This loop traverses the list and updates each element. len returns the number of elements in the list. range returns a list of indices from 0 to n − 1, where n is the length of the list. Each time through the loop, i gets the index of the next element. The assignment statement in the body uses i to read the old value of the element and to assign the new value.

In [21]:
# A for loop over an empty list never executes the body

for x in empty:
    print('This never happens.')

In [22]:
# a list can contain another list, the nested list still counts as a single element.

a= ['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]

In [23]:
len(a)

4

In [24]:
# list operations:
>>> [0] * 4

[0, 0, 0, 0]

In [25]:
>>> [1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [28]:
# list sclicing:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3]

['b', 'c']

In [31]:
t[:4]

['a', 'b', 'c', 'd']

In [30]:
t[3:]

['d', 'e', 'f']

In [32]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [33]:
>>> t = ['a', 'b', 'c', 'd', 'e', 'f']
>>> t[1:3] = ['x', 'y']
>>> print(t)

['a', 'x', 'y', 'd', 'e', 'f']

In [35]:
# list method:

t = ['a', 'b', 'c']
t.append('d')
print(t)

['a', 'b', 'c', 'd']

In [37]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
print(t1)

['a', 'b', 'c', 'd', 'e']

In [38]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
print(t)

['a', 'b', 'c', 'd', 'e']

In [39]:
# delecting elements:
t = ['a', 'b', 'c']
x = t.pop(1)
print(t)

['a', 'c']

pop modifies the list and returns the element that was removed. If you don't provide an index, it deletes and returns the last element.

In [40]:
print(x)

b

In [45]:
# To remove more than one element, you can use del with a slice index:

t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
print(t)

['a', 'f']

In [43]:
# If you know the element you want to remove (but not the index), you can use remove:
t = ['a', 'b', 'c']
t.remove('b')
print(t)

['a', 'c']

In [46]:
#list functions:
nums = [3, 41, 12, 9, 74, 15]

In [47]:
sum(nums)

154

In [48]:
max(nums)

74

In [50]:
min(nums)

3

solving using normally vs list!

In [53]:
total = 0
count = 0
while (True):
    inp = input('Enter a number: ')
    if inp == 'done': break
    value = float(inp)
    total = total + value
    count = count + 1

average = total / count
print('Average:', average)

Enter a number: 43
Enter a number: 56
Enter a number: done
Average: 49.5

In [54]:
numlist = list()
while (True):
    inp = input('Enter a number: ')
    if inp == 'done': break
    value = float(inp)
    numlist.append(value)

average = sum(numlist) / len(numlist)
print('Average:', average)

Enter a number: 43
Enter a number: 56
Enter a number: 74
Enter a number: done
Average: 57.666666666666664

We make an empty list before the loop starts, and then each time we have a number, we append it to the list. At the end of the program, we simply compute the sum of the numbers in the list and divide it by the count of the numbers in the list to come up with the average.

## string and list
A string is a sequence of characters and a list is a sequence of values, but a list of characters is not the same as a string. To convert from a string to a list of characters, you can use list:

In [55]:
s = 'pining for the fjords'
t = s.split()
print(t)

['pining', 'for', 'the', 'fjords']

In [56]:
s = 'spam-spam-spam'
delimiter = '-'
s.split(delimiter)

['spam', 'spam', 'spam']

In [58]:
t = ['pining', 'for', 'the', 'fjords']
print(t)

['pining', 'for', 'the', 'fjords']

In [57]:
t = ['pining', 'for', 'the', 'fjords']
delimiter = ' '
delimiter.join(t)

'pining for the fjords'

## Objects and values

In one case, a and b refer to two different objects that have the same value. In the second case, they refer to the same object.

In [59]:
>>> a = 'banana'
>>> b = 'banana'
>>> a is b

True

In [60]:
>>> a = [1, 2, 3]
>>> b = [1, 2, 3]
>>> a is b

False

In this case we would say that the two lists are equivalent, because they have the same elements, but not identical, because they are not the same object. If two objects are identical, they are also equivalent, but if they are equivalent, they are not necessarily identical.

Until now, we have been using "object" and "value" interchangeably, but it is more precise to say that an object has a value. If you execute a = [1,2,3], a refers to a list object whose value is a particular sequence of elements. If another list has the same elements, we would say it has the same value.

In [61]:
>>> a = [1, 2, 3]

In [62]:
b=a

In [63]:
>>> b[0] = 17
>>> print(a)

[17, 2, 3]

If a refers to an object and you assign b = a, then both variables refer to the same object
The association of a variable with an object is called a reference. In this example, there are two references to the same object.

An object with more than one reference has more than one name, so we say that the object is aliased.

If the aliased object is mutable, changes made with one alias affect the other:

In [64]:
# Some of the most expensive cars in the world
lamborghini_veneno = 3900000  # $3.9 million!
bugatti_veyron = 2400000      # $2.4 million!
aston_martin_one77 = 1850000  # $1.85 million!

prices = [lamborghini_veneno, bugatti_veyron, aston_martin_one77]

print('Lamborghini Veneno:', prices[0], 'dollars')
print('Bugatti Veyron Super Sport:', prices[1], 'dollars')
print('Aston Martin One-77:', prices[2], 'dollars')

Lamborghini Veneno: 3900000 dollars
Bugatti Veyron Super Sport: 2400000 dollars
Aston Martin One-77: 1850000 dollars

In [65]:
my_nums = [5, 12, 20]
print(my_nums)

# Modify a list element
my_nums[1] = -28
print (my_nums)

[5, 12, 20]
[5, -28, 20]

In [66]:

my_list = [10, 'bw']
print (my_list)

my_list.append('abc')
print ('After append:', my_list)

my_list.pop(1)
print ('After pop:', my_list)

my_list.remove('abc')
print ('After remove:', my_list)

[10, 'bw']
After append: [10, 'bw', 'abc']
After pop: [10, 'abc']
After remove: [10]

In [67]:
# Concatenating lists
house_prices = [380000, 900000, 875000] + [225000]
print('There are', len(house_prices), 'prices in the list.')

# Finding min, max
print('Cheapest house:', min(house_prices))
print('Most expensive house:', max(house_prices))

There are 4 prices in the list.
Cheapest house: 225000
Most expensive house: 900000

## Tuple

A tuple, usually pronounced "tuhple" or "toople", behaves similar to a list but is immutable – once created the tuple's elements cannot be changed. A tuple is also a sequence type, supporting len(), indexing, and other sequence type functions. A new tuple is generated by creating a list of comma-separated values, such as 5, 15, 20. Typically, tuples are surrounded with parentheses, as in (5, 15, 20). Note that printing a tuple always displays surrounding parentheses.

A tuple is not as common as a list in practical usage, but can be useful when a programmer wants to ensure that values do not change. Tuples are typically used when element position, and not just the relative ordering of elements, is important. Ex: A tuple might store the latitude and longitude of a landmark because a programmer knows that the first element should be the latitude, the second element should be the longitude, and the landmark will never move from those coordinates.

In [68]:
white_house_coordinates = (38.8977, 77.0366)
print('Coordinates:', white_house_coordinates)
print('Tuple length:', len(white_house_coordinates))

# Access tuples via index
print('\nLatitude:', white_house_coordinates[0], 'north')
print('Longitude:', white_house_coordinates[1], 'west\n')

# Error. Tuples are immutable
white_house_coordinates[1] = 50

Coordinates: (38.8977, 77.0366)
Tuple length: 2

Latitude: 38.8977 north
Longitude: 77.0366 west

TypeError: 'tuple' object does not support item assignment

## named tuple

A named tuple allows the programmer to define a new simple data type that consists of named attributes. A Car named tuple with fields like Car.price and Car.horsepower would more clearly represent a car object than a list with index positions correlating to some attributes.

The namedtuple package must be imported to create a new named tuple. Once the package is imported, the named tuple should be created like in the example below, where the name and attribute names of the named tuple are provided as arguments to the namedtuple constructor. Note that the fields to include in the named tuple are found in a list, but may also be a single string with space or comma separated values.

In [69]:
from collections import namedtuple

Car = namedtuple('Car', ['make','model','price','horsepower','seats'])  # Create the named tuple

chevy_blazer = Car('Chevrolet', 'Blazer', 32000, 275, 8)  # Use the named tuple to describe a car
chevy_impala = Car('Chevrolet', 'Impala', 37495, 305, 5)  # Use the named tuple to describe a different car

print(chevy_blazer)
print(chevy_impala)

Car(make='Chevrolet', model='Blazer', price=32000, horsepower=275, seats=8)
Car(make='Chevrolet', model='Impala', price=37495, horsepower=305, seats=5)

In [71]:
# Create sets
names1 = {'Corrin', 'Pedro', 'Khan', 'Dean'}
names2 = {'Emilia', 'Kara', 'Corrin', 'Tia'}
names3 = {'Karat', 'Kara', 'Karah', 'Khan'}
names4 = {'Khan', 'Dean', 'Pascale'}

# Union names1 and names2
result_set1 = names1.union(names2)
result_set1

{'Kara'}

In [72]:
# Intersection btwn result_set and names3
result_set2 = result_set.intersection(names3)
result_set2

{'Kara'}

In [73]:
# Difference btwn result_set and names4
result_set3 = result_set.difference(names4)
result_set3

{'Kara'}

In [74]:
# extra

In [75]:
my_list = [1, 2, 3]

In [76]:
print(my_list)

[1, 2, 3]

In [77]:
my_list = list('123')
print(my_list)

['1', '2', '3']

In [78]:
my_list = [1, 2, 3]
print(my_list[1])

2

In [79]:
my_list = [1, 2, 3]
print(my_list[1:3])

[2, 3]

In [80]:
my_list = [1, 2] + [3] 
print(my_list)

[1, 2, 3]

In [81]:
my_list = [1, 2, 3]
my_list [2] = 9 
print(my_list)

[1, 2, 9]

In [82]:
my_list = [1, 2, 3]
my_list[len(my_list):] = [9]
print(my_list)

[1, 2, 3, 9]

In [83]:
my_list= [1, 2, 3,]
del my_list[1]
print(my_list)

[1, 3]

In [86]:
# Add an item to the end of list.
my_list = [5, 8]
my_list.append(16)
print(my_list)

[5, 8, 16]

In [87]:
# Add all items in [x] to list.
my_list = [5, 8]
my_list.extend([4, 12])
print(my_list)

[5, 8, 4, 12]

In [88]:
# list.insert(i, x)----- Insert x into list before position i.
my_list = [5, 8]
my_list.insert(1, 1.7)
print(my_list)

[5, 1.7, 8]

In [89]:
my_list = [5, 8, 14]
my_list.remove(8)
my_list

[5, 14]

In [90]:
# remove last num
my_list = [5, 8, 14]
val = my_list.pop()
my_list

[5, 8]

In [91]:
my_list = [5, 8, 14]
val = my_list.pop(0)
my_list

[8, 14]

In [92]:
my_list = [14, 5, 8]
my_list.reverse()
my_list

[8, 5, 14]

In [93]:
my_list = [5, 8, 14]
print(my_list.index(14))

2

In [94]:
my_list = [5, 8, 5, 5, 14]
print(my_list.count(5))

3

In [96]:
#iterations:
user_input = input('Enter numbers: ')

tokens = user_input.split()  # Split into separate strings

# Convert strings to integers
print()
nums = []
for pos, token in enumerate(tokens):
    nums.append(int(token))
    print('%d: %s' % (pos, token))

sum = 0
for num in nums:
    sum += num

print('Sum:', sum)

Enter numbers: 56 45 45 67

0: 56
1: 45
2: 45
3: 67
Sum: 213

In [98]:
origins = [4, 8, 10]

for index in range(len(origins)):
    value = origins[index]  # Retrieve value of element in list.
    print('Element %d: %s' % (index, value))

Element 0: 4
Element 1: 8
Element 2: 10

In [100]:
#enumerate fun
origins = [4, 8, 10]

for (index, value) in enumerate(origins):
    print('Element %d: %s' % (index, value))

Element 0: 4
Element 1: 8
Element 2: 10

In [101]:
a= [2,3,4,5,6,7,8]

In [106]:
def delete_head(t):
    del t[0]

In [107]:
delete_head(a)